
@{
    ViewBag.Title = "api";
}
<div dir="rtl">
    <h2>apiلیست </h2>
    <span><b> api کل محصولات</b></span><br />
    <span><b><a href="/home/allapi" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api  شیر پاستوریزه ساده</b></span><br />
    <span><b><a href="/home/shirpastorize" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api شیر استریل 1/5لیتری</b></span><br />
    <span><b><a href="/home/shirestril" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api شیر200ساده</b></span><br />
    <span><b><a href="/home/shirsade" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api شیر استریل طعم دار</b></span><br />
    <span><b><a href="/home/shirtamdar" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api انواع خامه</b></span><br />
    <span><b><a href="/home/khame" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api کره و روغن</b></span><br />
    <span><b><a href="/home/kareroghan" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api ماست موسیر</b></span><br />
    <span><b><a href="/home/mosir" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api ماست همزده</b></span><br />
    <span><b><a href="/home/hamzade" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api ماست معمولی</b></span><br />
    <span><b><a href="/home/mastmamoli" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api پنیر یو اف</b></span><br />
    <span><b><a href="/home/paniruf" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api انواع پنیر</b></span><br />
    <span><b><a href="/home/anvaepanir" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api دوغ نایلونی</b></span><br />
    <span><b><a href="/home/doghnayloni" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api دوغ 1/5 لیتری</b></span><br />
    <span><b><a href="/home/doghyekonim" target="_blank">مشاهده</a> </b></span>
    <br />

    <span><b>api سایر انواع دوغ</b></span><br />
    <span><b><a href="/home/sayerdogh" target="_blank">مشاهده</a> </b></span>
    <br />
  
    <span><b>api ابمیوه200</b></span><br />
    <span><b><a href="/home/abmivedevist" target="_blank">مشاهده</a> </b></span>
    <br />
 
    <span><b>api آبمیوه 1لیتری</b></span><br />
    <span><b><a href="/home/abmiveyeklitri" target="_blank">مشاهده</a> </b></span>
    <br />
   
    <span><b>api محصولات پودری</b></span><br />
    <span><b><a href="/home/poodri" target="_blank">مشاهده</a> </b></span>
    <br />
   
    <span><b>api کشک و سایر محصولات لبنی</b></span><br />
    <span><b><a href="/home/kashksayerlabani" target="_blank">مشاهده</a> </b></span>
    <br />
   
    <span><b>api محصولات غیر لبنی</b></span><br />
    <span><b><a href="/home/gheyrelabani" target="_blank">مشاهده</a> </b></span>
    <br />
   
</div>

<h2>api</h2>

